@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole 
@{
    ViewBag.Title = "AssingRoleToUser";
}

<h2>AssingRoleToUser</h2>

@using (Html.BeginForm())
{

    <div class="form-group">
        @Html.Label("Seleccione tipo de usuario", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownList("UserName")
        </div>
    </div>
    <input type="submit" value="Crear Role" />
}

