@{
    ViewBag.Title = "Home Page";
}
<style type="text/css">
    .titulo {
        text-align: center;
        font-size: 30px;
        vertical-align: top;
    }

    .texto {
        text-align: justify;
        font-size: 15px;
    }

    .derecha {
        margin: 15px;
    }

    .imagen {
        margin: 10px;
    }
</style>


<table>
    <tr>
        <td><img class="imagen" src="~/Imagenes/f93abed6-cca5-4e1d-b702-bd8cddce1bb6.jpg" alt="Parqueadero" width="400" height="350" /></td>
        <td class="derecha">
            <h2 class="titulo"> Parqueadero</h2>
            <p class="texto">
                El parqueadero esta pensando para que todos los estudiantes, administrativos y docentes puedan registrar sus vehiculos de manera que
                seria mucho mas facil ingresar a los parqueaderos de la universidad.
            </p>
        </td>
    </tr>
</table>
